#firstbutton{
      color:azure;
      background-color: red;
      border-width:2px;
      border-color:azure;
      border-style:solid;
      border-radius: 10px;
      height:100px;
      width:150px;
      text-shadow: 2px;
      text-decoration-color: black;
      font-style: italic;
      font-size: 20px;
} 
.p{
   color:azure;
   display:flex;
   align-items: center;
   justify-content: center;
      background-color: red;
      border-width:2px;
      border-color:azure;
      border-style:solid;
      border-radius: 10px;
      height:100px;
      width:150px;
      text-shadow: 2px;
      text-decoration-color: black;
      
      font-size: 20px;
}
 .container1{
    display:flex;
    
    height:100vh; /*vh:viewport height ,100% of vh*/
     align-items: center;
    justify-content: space-around;
    background-color: black; 
    
}
@media(orientation: portrait){
        .container1{
         flex-direction:column;
        }
}
.result{
      color:azure;
      background-color: red;
      border-width:2px;
      border-color:azure;
      position:fixed;
      top:10px;
      border-style:solid;
      border-radius: 10px;
      height:100px;
      width:150px;
      text-shadow: 2px;
      text-decoration-color: black;
      font-style: italic;
      font-size: 20px;
} 
/* #grid{
    display:flex;
    background-color:lightpink ;
    height:60vh;
    width:60vh;
    border-radius:2vh;
    border-style: solid;
    border-width: 2vh;
    border-color:#279AF1; */
/* grid-template-columns: repeat(3,1fr);
grid-template-rows:repeat(3,1fr); */
/* } */
/* .box{
    display:flex;
    align-items:center;
    justify-content: center;
    border-color: azure;
    border-style: solid;
    border-width: 3px;
}
#container2{
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: lightpink;
    height:100vh;
} */
 /* .row{
    display: flex;
    flex-direction: column;
 }
 .col{
    display: flex;
    background-color: aqua;
 }
.fa-xmark{
    color:yellow;
    font-size: 96px;
}
.fa-o{
    color:palevioletred;
    font-size: 96px;
} */ 
 .container{
    background-color: lightpink;
    display: flex;
    align-items: center;
    justify-content: center;
    height:100vh;
    width: 100vw;
 }
 .grid{
    display: flex;
    flex-direction: column;
    background-color: aqua;
    height:60vh;
    width:60vh;
 }
.row{
    display:flex;
    flex-direction: row;
    height:20vh;
    width:60vh;
    border:2px solid aqua;
 }
 .col{
    display: flex;
    justify-content: center;
    align-items: center;
    height:20vh;
    width:20vh;
    background-color: black;
    border:2px solid aqua;
 }
 .fa-xmark{
    color:yellow;
    font-size: 18vh;
 }
 .fa-o{
    color:aliceblue;
    font-size: 18vh;
 }
